<!DOCTYPE html>

<html data-bs-theme="dark">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Vidya Viewer</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body >
	<div th:replace="~{fragments/navigation :: site-navbar}"></div>
	<!--this div controlls the central width of the screen and should be included on all pages (development is being optimized for desktops)-->
	<div style="width: 70%; min-width: 880px;" class="m-auto mt-4 ">
	<!--		NOTE: all code above this note, as well as this note itself, should be reused in all HTML files	-->
		<h1>
			Add a Game: 
		</h1>

	<form class="form-group" action="#" th:action="@{/addGameData}" th:object="${gameDTO}" method="GET">
		
		Title: <input class="form-control" type="text" name="title" th:field="*{title}"/><br/>
		Critic Score: <input class="form-control" type="text" name="criticScore" th:field="*{criticScore}"/><br/>
		<button class="btn btn-primary" name="action" value="addgame" type="submit">Submit</button>
	</form>
	<form th:action="@{/loadGames}" class="pt-2">
		
		<button class="btn btn-primary" name="action" value="cancel" type="submit" >Cancel</button>
	</form>


	<!--		NOTE: everything after this point should be loaded on all pages. 	-->
</div>
</body>
</html>
