<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Vidya Viewer - General Kenobi</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body >
	<div th:replace="~{fragments/navigation :: site-navbar}"></div>
	<!--this div controlls the central width of the screen and should be included on all pages (development is being optimized for desktops)-->
	<div style="width: 70%; min-width: 880px;" class="m-auto mt-4 ">
	<!--		NOTE: all code above this note, as well as this note itself, should be reused in all HTML files	-->

	<iframe width="100%" height="600px" src="https://www.youtube.com/embed/rEq1Z0bjdwc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

	<!--		NOTE: everything after this point should be loaded on all pages. 	-->
</div>
</body>
</html>
