<!DOCTYPE html>

<html data-bs-theme="dark">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Vidya Viewer</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body >
	<div th:replace="~{fragments/navigation :: site-navbar}"></div>
	<!--this div controlls the central width of the screen and should be included on all pages (development is being optimized for desktops)-->
	<div style="width: 70%; min-width: 880px;" class="m-auto mt-4 ">
	<!--		NOTE: all code above this note, as well as this note itself, should be reused in all HTML files	-->

		<div class="d-flex flex-row">
			<h1 class="col">
				Profile page
			</h1>
			<button class="btn btn-outline-light">Add friend</button><!--should only display if you are viewing a profile that you are not friends with. Text should change to "Friends" if you are friends-->
		</div>

		<div id="userInfoTable">
			<p class="fw-bolder fs-2">My information:</p> <!-- Should display "Friend information:" if current user id != viewing user id -->
			<div class="d-flex ">
				<div class="col">
					<div class="row">
						<p class="col-4">Username</p>
						<p class="col">plaintext username</p>
					</div>
					<div class="row">
						<p class="col-4">e-mail</p>
						<p class="col">plaintext e-mail</p>
					</div>
					<div class="row"><!--should not display if the logged in user id does not match the viewing userid (maybe use fragments with a check in the controller? Might require DOM manipulation)-->
						<p class="col-4">password</p>
						<input type="password" class="form-control col" placeholder="New Password">
						<input type="password" class="form-control col" placeholder="Confirm Password">
					</div>
				</div>
			</div>
		</div>

		<div id="userFriendTable">
			<p class="fw-bolder fs-2">My friends:</p><!-- Should display "{User's username} friends:" if current user id != viewing user id -->
			<table class="table">
				<thead>
					<th scope="col">#</th>
					<th scope="col">Username</th>
					<th scope="col">Email</th>
					<th scope="col">#of Games</th>
				</thead>
				 <!--ideally this would iterate over an array returned by fetching a list of friends that you are friends with (th:each?) -->
				 <!--(or a list of friends of the user you are viewing)-->

				 <!--NEEDS A STUB IMPLEMENTATION, WORK ON IMPLEMENTING DAO'S AND SERVICE LAYER-->
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td >JerrySmith1969</td>
						<td >i_am_a_massive_tool@aol.com</td>
						<td >1</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td >NotAChance</td>
						<td >justbeth@aol.com</td>
						<td >0</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td >AhJeez23</td>
						<td >boogeraidsformorty@steam.com</td>
						<td >157</td>
					</tr>
				</tbody>
			</table>
		</div>

	<!--		NOTE: everything after this point should be loaded on all pages. 	-->
</div>
</body>
</html>
